<a href="https://colab.research.google.com/github/Raph-09/First_project/blob/master/regex_edureka_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import re

**Get names and ages from below:**

In [54]:
nameage = ('''Januce is 22 and Theon is 33
            Gabriel is 44 and joey is 21 ''')

In [55]:
ages = re.findall(r'\d{1,3}',nameage)

In [56]:
names =  re.findall(r'[A-Z][a-z]*',nameage)

In [57]:
agedict = {}
x = 0
for eachname in names:
  agedict[eachname] = ages[x]
  x+=1

In [58]:
agedict

{'Gabriel': '44', 'Januce': '22', 'Theon': '33'}

**Find a word in a string**

In [59]:
all_inform = re.findall('inform','we need to inform him with the latest information')#find 'inform' in 'we need to inform him with the latest information'
for i in all_inform:
  print(i)

inform
inform

search if inform is present in following string

In [60]:
if re.search('inform','we need to inform him with the latest information'):
  print('there is inform')

there is inform

In [61]:
str_ = 'we need to inform him with the latest information'
for i in re.finditer('inform',str_):
  lockup = i.span()
  print(lockup)

(11, 17)
(38, 44)

**Match words with a particular pattern**

In [62]:
str = "Sat,mat,hat,pat"
attstr = re. findall("[Smhp]at",str)
for i in attstr:
  print(i)

Sat
mat
hat
pat

**match series of range of characters**

In [63]:
#print hat and mat
str = "Sat,mat,hat,pat"
attstr = re. findall("[h-m]at",str)
for i in attstr:
  print(i)

mat
hat

In [64]:
#you can print everything

str = "sat,mat,hat,pat"
attstr = re. findall("[h-z]at",str)#h-z matches all the characters
for i in attstr:
  print(i)

sat
mat
hat
pat

In [65]:
#not printing words whch begins with letter between h to m
str = "sat,mat,hat,pat"
attstr = re. findall("[^h-m]at",str)#h-z matches all the characters
for i in attstr:
  print(i)

sat
pat

**how to replace or substitute words in a string**

In [66]:
#Lets replace rat with food
str = "sat,rat,hat,pat"
regex = re.compile("[r]at")
str = regex.sub('food',str)
print(str)

sat,food,hat,pat

solving the backslash problem

In [68]:
rand_str = "here is \\drogba"
print(re.search(r"\\drogba",rand_str))

<re.Match object; span=(8, 15), match='\\drogba'>
here is \drogba

**Replacing newline with whitespace**

In [78]:
randstr = '''keep the red flag
flying high
man u ''' 
print(randstr)

keep the red flag
flying high
man u

In [79]:
r = re.compile("\n")
randstr = r.sub(" ",randstr)
print(randstr)

keep the red flag flying high man u

In [80]:
#shorthands you can work with
#\b:backspace
#\f:formfeed
#\r:carrige return
#\t:tab
#\v:vertical tab
#\w=[a-zA-Z0-9]
#\W=[^a-zA-Z0-9]
#\s:space between first and last name=[\f\n\t\r\v]
#\S=^[\f\n\t\r\v]

**How to match a single chracter**

In [84]:
#\d matches every digit
randstr = "12345"
print("digit",re.findall("\d",randstr))

digit ['1', '2', '3', '4', '5']

In [88]:
#find the lenth of the digits
randstr = "12345"
print("matches",len(re.findall("\d",randstr)))

matches 5

In [87]:
#\D matches every character except digits
randstr = "12345"
print("matches",len(re.findall("\D",randstr)))

matches 0

In [89]:
#find match for one of the number
randstr = "12345"
print("matches",len(re.findall("\d{5}",randstr)))

matches 1

In [90]:
#match digits with certain range
num = "123 1234 12345 123456 1234567"
print("matches:",len(re.findall("\d{5,7}",num)))

matches: 3

**APLICATION OF REGEX**

Phone number identification(phone numbers always have similar format-three digits with hyphen, three digits again with hiphen and four digits eg 412-555-1212

In [92]:
# lets check if this phone number is actually a phone number
phone = "412-555-1212"
if re.search("\w{3}-\w{3}-\w{4}",phone):
  print("it is a phone number")
else:
  print("it is not a phone number")

it is a phone number

In [93]:
# lets check if this phone number is actually a phone number
phone = "412-5555-1212"
if re.search("\w{3}-\w{3}-\w{4}",phone):
  print("it is a phone number")
else:
  print("it is not a phone number")

it is not a phone number

**Check if fullname is valid**

In [119]:
name = " cristiano ronaldo"
if re.search("\w{2,20}\s\w{2,20}",name):
  print("Full name is valid")
else:
  print("Full name is not valid")

Full name is valid

**Email verification**
**email should have**:


*  1 to 20 lowercse and uppercase letters,numbers,plus ._%+- 
*  an @ symbol
*   2 to 20 lowercase and uppercase letters,numbers,plus.-
*   a period
*   2 to 3 lowercase and uppercase leters

In [128]:
email = "sk@oal.com md@.co @seo.com dc@.com"
print("email matches",len(re.findall("[\w._%+-]{1,20}@[\w.-]{2,20}.[A-Za-z]{2,3}",email)))

email matches 1

webscrabing with regex

In [147]:
import urllib.request
from re import findall
url = "https://www.summet.com/dmsi/html/codesamples/addresses.html"
response = urllib.request.urlopen(url)
html = response.read()
html_str = html.decode()
pdata = findall("\(\d{3}\) \d{3}-\d{4}",html_str)

for item in  pdata:
  print(item)

(257) 563-7401
(372) 587-2335
(786) 713-8616
(793) 151-6230
(492) 709-6392
(654) 393-5734
(404) 960-3807
(314) 244-6306
(947) 278-5929
(684) 579-1879
(389) 737-2852
(660) 663-4518
(608) 265-2215
(959) 119-8364
(468) 353-2641
(248) 675-4007
(939) 353-1107
(570) 873-7090
(302) 259-2375
(717) 450-4729
(453) 391-4650
(559) 104-5475
(387) 142-9434
(516) 745-4496
(326) 677-3419
(746) 679-2470
(455) 430-0989
(490) 936-4694
(985) 834-8285
(662) 661-1446
(802) 668-8240
(477) 768-9247
(791) 239-9057
(832) 109-0213
(837) 196-3274
(268) 442-2428
(850) 676-5117
(861) 546-5032
(176) 805-4108
(715) 912-6931
(993) 554-0563
(357) 616-5411
(121) 347-0086
(304) 506-6314
(425) 288-2332
(145) 987-4962
(187) 582-9707
(750) 558-3965
(492) 467-3131
(774) 914-2510
(888) 106-8550
(539) 567-3573
(693) 337-2849
(545) 604-9386
(221) 156-5026
(414) 876-0865
(932) 726-8645
(726) 710-9826
(622) 594-1662
(948) 600-8503
(605) 900-7508
(716) 977-5775
(368) 239-8275
(725) 342-0650
(711) 993-5187
(882) 399-5084
(287) 755-9948
(659) 551-3389
(275) 730-6868
(725) 757-4047
(314) 882-1496
(639) 360-7590
(168) 222-1592
(896) 303-1164
(203) 982-6130
(906) 217-1470
(614) 514-1269
(763) 409-5446
(836) 292-5324
(926) 709-3295
(963) 356-9268
(736) 522-8584
(410) 483-0352
(252) 204-1434
(874) 886-4174
(581) 379-7573
(983) 632-8597
(295) 983-3476
(873) 392-8802
(360) 669-3923
(840) 987-9449
(422) 517-6053
(126) 940-2753
(427) 930-5255
(689) 721-5145
(676) 334-2174
(437) 994-5270
(564) 908-6970
(577) 333-6244
(655) 840-6139